{% extends "base.html" %}

{% block body_block %}

<script type="text/javascript">
function reset() {
  document.getElementById("s3_form").reset();
}
</script>
<h2>Storage service selected as Amazon S3</h2>
<h4>You need to have aws credentials to access your s3 bucket.</h4>
<h4>If you haven't created yet, you can follow this link <a href="https://docs.aws.amazon.com/general/latest/gr/aws-sec-cred-types.html">Getting credentials for aws</a></h4>
<h4>Give your s3 credentials:</h4>

<div id="s3_form" class="jumbotron">
  <form action="{% url 'doclib:awsS3' %}" enctype="multipart/form-data"  method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="bucket">Bucket Name</label>
      <input type="text" class="form-control" id="bucket" name="bucket" value="" placeholder="Enter Bucket Name" required>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>

    <div class="form-group">
      <label for="access_id">ACCESS ID</label>
      <input type="text" class="form-control" id="access_id" name="access_id" value="" placeholder="Enter ACCESS ID" required>
    </div>

    <div class="form-group">
      <label for="secret_key">SECRET KEY</label>
      <input type="text" class="form-control" id="secret_key" name="secret_key" value="" placeholder="Enter SECRET KEY" required>
    </div>

    <div class="form-group">
      <label for="object_token">FILE_PATH(optional)</label>
      <input type="text" class="form-control" id="object_token" name="object_token" value="" placeholder="Enter file path">
    </div>

    <div>
      <button type="submit" class="btn btn-primary" onsubmit="reset()">Upload</button>
    </div>

  </form>
</div>
{% endblock %}
