{% extends "base.html" %}
{% block body_block %}
<script type="text/javascript">
function reset() {
  document.getElementById("gcs_form").reset();
}
</script>
<h2>Storage service selected as Google cloud storage</h2>
<h4>You need to have credentials file of service account for your google cloud storage bucket.</h4>
<h4>If you haven't created yet, you can follow this link <a href="https://cloud.google.com/docs/authentication/production#create_service_account">Getting credentials for gcs</a> to understand how to do it. </h4>

<div id="gcs_form" class="jumbotron">
  <form action="{% url 'doclib:gcs' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="file">Credential JSON File</label>
        <input type="file" class="form-control-file" id="file" name="files" required>
      </div>

      <div class="form-group">
        <label for="bucket">Bucket Name</label>
        <input type="text" class="form-control" id="bucket" name="bucket" value="" placeholder="Enter Bucket Name" required>
      </div>

      <div class="form-group">
        <label for="object_token">FILE_PATH(optional)</label>
        <input type="text" class="form-control" id="object_token" name="object_token" value="" placeholder="Enter file path">
      </div>

      <div>
          <button type="submit" class="btn btn-primary" onsubmit="reset()">Upload</button>
      </div>
  </form>
</div>

{% endblock %}
